/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para la lista de productos */
.product-list {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.product-header {
    font-weight: bold;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-top: 1px solid #ddd;
}

.product-cell {
    flex: 1;
    padding: 5px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-action {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.product-action:hover {
    background-color: #0056b3;
}

/* Estilos para el formulario de agregar producto */
.add-product-form {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-product-form label {
    display: block;
    margin-bottom: 5px;
}

.add-product-form input[type="text"],
.add-product-form input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-product-form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.add-product-form button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Agrega estilos para la sección de eliminación de productos */
.delete-product-form {
    margin-top: 30px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.delete-product-form h2 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.delete-product-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.delete-product-form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.delete-product-form button {
    background-color: #ff5555;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-product-form button:hover {
    background-color: #ff3333;
}
